#logo{
    position:absolute;
    left:0px;
    top:0px;
}

.camposInserirDados{
    position:absolute;
    left:510px;
    width:300px;
    height:30px;
    font-size:20px;
}
#campoUsuario{
    top:100px;
}
#campoSenha{
    top:200px;
}
#campoConfirmarSenha{
    top:300px;
}
.textosCampos{
    position:Absolute;
    font-size:20px;
}
#textoUsuário{
    top:85px;
    left:430px;
}
#textoSenha{
    top:185px;
    left:445px;
}
#textoConfirmar{
    top:285px;
    left:360px;
}
#botaoCriarConta{
    position:absolute;
    width:130px;
    height:60px;
    background-color:rgb(0,0,255);
    color:white;
    font-family:"Roboto";
    font-size:20px;
    top:400px;
    left:600px;
    border-style:solid;
    border-width:2px;
}
#botaoCriarConta:active{
    top:405px;
}
#botaoLogin{
    position:absolute;
    background-color:white;
    color:rgb(0,0,255);
    left:620px;
    top:500px;
}
#botaoLogin:active{
    top:505px;
}